.svn
target
WikiExtractor.py
experiments/tmp*
wiki/
*.out
tmp/
*~
acquis/
corpora/
experiments/signif-df
experiments/signif-luc
experiments/signif-tf
experiments/signif.R
/cplsa/docs/cplsa.dvi
/cplsa/docs/cplsa.log
/cplsa/docs/cplsa.aux
/cplsa/docs/cplsa.tex.backup
/cplsa/docs/cplsa.synctex.gz
sampleData/wiki-en-es.kcca
sampleData/wiki-en-es.test
sampleData/wiki-en-es.train

